.bg-image {
    position: relative;
    display: flex;
    background-image: url(assets/images/backgrounds/bg-image.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.bg-gradient {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;    
    display: flex;
    flex: 1;
    background: rgb(12,22,71);
    background: linear-gradient(107deg, rgba(12,22,71,1) 50%, rgba(0,242,255,1) 100%);
    filter: opacity(0.8);
    z-index: 0;
}

.container {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;  
    justify-content: center;  
    z-index: 1;
}

.logo-container {
    max-width: 400px;
    width: 100%;
}
.logo {
    object-fit: contain;
}