.current-listings .search-form {
    margin: 16px 0;
}

.image {
    height: 200px;
    object-fit: cover;
    width: 100%;
}

.info-image {
    width: 18px;
    margin-right: 8px;
}

.paginator {
    margin: 16px;
    display: flex;
    align-items: center;
}

.paginator-button {
    padding: 8px;
    margin: 8px;
    border: 1px solid #e0e0e0;
}

.disabled-paginator-button {
    color: #616161;
    border-color: #616161;
}

.active-paginator-button {
    background: #121212;
}